<form class="{{cssClass}} akdeniz sheet actor esbirro" autocomplete="off">
    
    <header class="sheet-header">
        <div class="header-content-grid">
            <div class="profile-img-container">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            </div>
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Nombre del Esbirro"/></h1>
            <div class="header-fields">
                <div class="grid grid-2col">
                    <div class="grid-cell"><label>{{localize "AKDENIZ.Origen"}}</label><input name="system.datosPersonales.origen" type="text" value="{{system.datosPersonales.origen}}" /></div>
                    <div class="grid-cell"><label>{{localize "AKDENIZ.Profesion"}}</label><input name="system.datosPersonales.profesion" type="text" value="{{system.datosPersonales.profesion}}" /></div>
                </div>
            </div>
            <div class="description-field">
                <label>{{localize "AKDENIZ.Descripcion"}}</label>
                <textarea name="system.datosPersonales.descripcion">{{system.datosPersonales.descripcion}}</textarea>
            </div>
        </div>
    </header>

    <section class="sheet-section valores-basicos">
        <div class="especialidad-header" style="margin-bottom: 10px;">
            <h3>{{localize "AKDENIZ.ValoresBasicos"}}</h3>
            <a class="refresh-valores" title="{{localize 'AKDENIZ.RefrescarValores'}}"><i class="fas fa-sync-alt"></i></a>
        </div>
        
        <div class="grid grid-2col" style="gap: 15px;">
            <div class="flexcol" style="gap: 10px;">
                <div class="recurso">
                    <label>{{localize "AKDENIZ.Desafio"}}</label>
                    <div class="recurso-inputs">
                        <a class="arrow-control" data-action="down" data-target="system.dificultad"><i class="fas fa-caret-left"></i></a>
                        <input type="number" name="system.dificultad" value="{{system.dificultad}}" min="1"/>
                        <a class="arrow-control" data-action="up" data-target="system.dificultad"><i class="fas fa-caret-right"></i></a>
                    </div>
                </div>
                
                <div class="recurso">
                    <label>{{localize "AKDENIZ.Efectivos"}}</label>
                    <div class="recurso-inputs">
                        <input type="number" name="system.efectivos.value" value="{{system.efectivos.value}}" disabled style="border: none; background: none;"/>
                        <span> / </span>
                        <a class="arrow-control" data-action="down" data-target="system.efectivos.max"><i class="fas fa-caret-left"></i></a>
                        <input type="number" name="system.efectivos.max" value="{{system.efectivos.max}}" min="1"/>
                        <a class="arrow-control" data-action="up" data-target="system.efectivos.max"><i class="fas fa-caret-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="flexcol" style="gap: 10px;">
                <div class="recurso">
                    <label>{{localize "AKDENIZ.Vida"}}</label>
                    <div class="recurso-inputs">
                        <a class="arrow-control" data-action="down" data-target="system.vida.value" data-linked-max="system.vida.max"><i class="fas fa-caret-left"></i></a>
                        <input type="number" name="system.vida.value" value="{{system.vida.value}}" min="0" max="{{system.vida.max}}"/>
                        <span> / </span>
                        <input type="number" name="system.vida.max" value="{{system.vida.max}}" disabled style="border: none; background: none;"/>
                        <a class="arrow-control" data-action="up" data-target="system.vida.value" data-linked-max="system.vida.max"><i class="fas fa-caret-right"></i></a>
                    </div>
                </div>
                
                <div class="recurso">
                    <label>{{localize "AKDENIZ.Estres"}}</label>
                    <div class="recurso-inputs">
                        <a class="arrow-control" data-action="down" data-target="system.estres.value" data-linked-max="system.estres.max"><i class="fas fa-caret-left"></i></a>
                        <input type="number" name="system.estres.value" value="{{system.estres.value}}" min="0" max="{{system.estres.max}}"/>
                        <span> / </span>
                        <input type="number" name="system.estres.max" value="{{system.estres.max}}" disabled style="border: none; background: none;"/>
                        <a class="arrow-control" data-action="up" data-target="system.estres.value" data-linked-max="system.estres.max"><i class="fas fa-caret-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sheet-section caracteristicas-esbirro grid grid-3col">
        
        <div class="planteamientos-columna box">
            <div class="especialidad-header">
                <h3>{{localize "AKDENIZ.Planteamiento"}}</h3>
                <input type="number" value="{{system.caracteristicas.planteamientoGeneral}}" disabled style="width: 50px;" title="{{localize 'AKDENIZ.PlanteamientoBase'}}"/>
            </div>
            <hr>
            <div class="especialidad-item cabecera">
                <label>{{localize "AKDENIZ.Planteamiento"}}</label>
                <label>{{localize "AKDENIZ.Valor"}}</label>
                <a class="item-add" data-type="planteamiento" title="Añadir Personalización"><i class="fas fa-plus"></i></a>
            </div>
            {{#each system.caracteristicas.planteamientos as |item key|}}
            <div class="especialidad-item" data-key="{{key}}" data-type="planteamiento">
                <select name="system.caracteristicas.planteamientos.{{key}}.nombre">
                    <option value="">{{localize "AKDENIZ.Selecciona"}}</option>
                    {{#each @root.CONFIG.AKDENIZ.listaPlanteamientos as |label pkey|}}
                    <option value="{{pkey}}" {{#if (eq item.nombre pkey)}}selected{{/if}}>{{localize label}}</option>
                    {{/each}}
                </select>
                <input type="number" name="system.caracteristicas.planteamientos.{{key}}.valor" value="{{item.valor}}" min="0"/>
                <a class="item-delete" title="{{localize 'AKDENIZ.EliminarItem'}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/each}}
        </div>

        <div class="habilidades-columna box">
            <div class="especialidad-header">
                <h3>{{localize "AKDENIZ.Habilidades"}}</h3>
                <input type="number" value="{{system.caracteristicas.habilidadGeneral}}" disabled style="width: 50px;" title="{{localize 'AKDENIZ.HabilidadBase'}}"/>
                <a class="roll-habilidad-esbirro-general" title="Tirada de Habilidad Base"><i class="fas fa-dice-d20"></i></a>
            </div>
            <hr>
            <div class="especialidad-item cabecera" style="grid-template-columns: 1fr 40px 30px 30px;">
                <label>Habilidad</label>
                <label>{{localize "AKDENIZ.Valor"}}</label>
                <a class="item-add" data-type="habilidad" title="Añadir Personalización"><i class="fas fa-plus"></i></a>
                <label>&nbsp;</label>
            </div>
            {{#each system.caracteristicas.habilidades as |item key|}}
            <div class="especialidad-item" data-key="{{key}}" data-type="habilidad" style="grid-template-columns: 1fr 40px 30px 30px;">
                <select name="system.caracteristicas.habilidades.{{key}}.nombre">
                    <option value="">{{localize "AKDENIZ.Selecciona"}}</option>
                    {{#each @root.CONFIG.AKDENIZ.listaHabilidades as |label hkey|}}
                    <option value="{{hkey}}" {{#if (eq item.nombre hkey)}}selected{{/if}}>{{localize label}}</option>
                    {{/each}}
                </select>
                <input type="number" name="system.caracteristicas.habilidades.{{key}}.valor" value="{{item.valor}}" min="0"/>
                <a class="item-delete" title="{{localize 'AKDENIZ.EliminarItem'}}"><i class="fas fa-trash"></i></a>
                <a class="roll-habilidad-esbirro" data-roll-key="{{item.nombre}}" data-roll-valor="{{item.valor}}" 
                   title="Lanzar {{#if item.nombre}}{{localize (lookup @root.CONFIG.AKDENIZ.listaHabilidades item.nombre)}}{{/if}}">
                   <i class="fas fa-dice-d20"></i>
                </a>
            </div>
            {{/each}}
        </div>

        <div class="especialidades-columna box">
             <h3>{{localize "AKDENIZ.Especialidades"}}</h3>
            <div class="especialidad-item cabecera">
                <label>{{localize "AKDENIZ.Nombre"}}</label>
                <label>{{localize "AKDENIZ.Valor"}}</label>
                <a class="item-add" data-type="especialidad" title="{{localize 'AKDENIZ.AnadirEspecialidad'}}"><i class="fas fa-plus"></i></a>
            </div>
            {{#each system.caracteristicas.especialidades as |item key|}}
            <div class="especialidad-item" data-key="{{key}}" data-type="especialidad">
                <input type="text" name="system.caracteristicas.especialidades.{{key}}.nombre" value="{{item.nombre}}" placeholder="{{localize 'AKDENIZ.NuevaEspecialidad'}}"/>
                <input type="number" name="system.caracteristicas.especialidades.{{key}}.valor" value="{{item.valor}}" min="1"/>
                <a class="item-delete" title="{{localize 'AKDENIZ.EliminarItem'}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/each}}
        </div>
    </section>

    <section class="sheet-section personalidad-pj grid grid-2col">
        <div class="columna-izquierda flexcol">
            <div class="talentos-columna box"><h3>{{localize "AKDENIZ.Talentos"}}</h3>
                <ol class="items-list talentos-list">
                {{#each items as |item id|}}
                    {{#if (eq item.type "talento")}}
                    <li class="item" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-controls"><a class="item-control item-edit" title="{{localize 'AKDENIZ.EditarItem'}}"><i class="fas fa-edit"></i></a><a class="item-control item-delete" title="{{localize 'AKDENIZ.EliminarItem'}}"><i class="fas fa-trash"></i></a></div>
                    </li>
                    {{/if}}
                {{/each}}
                </ol>
            </div>
        </div>
        <div class="columna-derecha flexcol">
            <div class="equipo-columna box">
                <h3>{{localize "AKDENIZ.Equipo"}}</h3> <ol class="items-list equipo-list">
                {{#each items as |item id|}}
                    {{#unless (eq item.type "talento")}}
                    <li class="item" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-controls"><a class="item-control item-edit" title="{{localize 'AKDENIZ.EditarItem'}}"><i class="fas fa-edit"></i></a><a class="item-control item-delete" title="{{localize 'AKDENIZ.EliminarItem'}}"><i class="fas fa-trash"></i></a></div>
                    </li>
                    {{/unless}}
                {{/each}}
                </ol>
            </div>
        </div>
    </section>

</form>