<form class="{{cssClass}} akdeniz-item-sheet flexcol" autocomplete="off">
  
  <header class="charname-container" style="display: flex; gap: 10px; align-items: center; margin-bottom: 10px;">
      
      <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="50" width="50" style="border:none; border-radius: 5px;"/>

      <div style="flex: 1;">
        <input name="name" type="text" value="{{item.name}}" placeholder="Nombre del Objeto" style="width: 100%; font-size: 1.2em; border: none; background: transparent; font-weight: bold;"/>
      </div>
  </header>

  <div class="sheet-body">
    
    <div class="sheet-section description" style="min-height: 300px;">
        {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>

  </div>
</form>